{% extends 'base.html' %} {% block content %}
<section class="container position" id="dash-content">
  <div class="main-content container">
    <div class="row justify-content-end">
      <div class="box-content col-md-6 mt-3">
        <a href="#" class="text-decoration-none">
          <div class="box-color content shadow-sm rounded mb-2 p-4 text-white bg-gradient">
            <div class="d-flex justify-content-between">
              <div class="content-head">Tickets</div>
              <div class="content-img">
                <i class="fa fa-ticket text-white fs-4 ps-2"></i>
              </div>
            </div>
            <div class="content-number">{{ticket}}</div>
          </div>
        </a>
      </div>
      <div id="patient-click" class="box-content col-md-6 mt-3">
        <a href="#" class="text-decoration-none">
          <div class="box-color content shadow-sm rounded mb-2 p-4 text-white bg-gradient">
            <div class="d-flex justify-content-between">
              <div class="content-head">Patients</div>
              <div class="content-img">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="content-number">{{pat}}</div>
          </div>
        </a>
      </div>
      <div id="doctor-click" class="box-content col-md-6 mt-3">
        <a href="#" class="text-decoration-none">
          <div class="box-color content shadow-sm rounded mb-2 p-4 text-white bg-gradient">
            <div class="d-flex justify-content-between">
              <div class="content-head">Doctors</div>
              <div class="content-img">
                <i class="fa fa-user-nurse"></i>
              </div>
            </div>
            <div class="content-number">{{doc}}</div>
          </div>
        </a>
      </div>
      <div id="dep-click" class="box-content col-md-6 mt-3">
        <a href="#" class="text-decoration-none">
          <div class="box-color content shadow-sm rounded mb-2 p-4 text-white bg-gradient">
            <div class="d-flex justify-content-between">
              <div class="content-head">Departmets</div>
              <div class="content-img">
                <i class="fa fa-folder-open"></i>
              </div>
            </div>
            <div class="content-number">{{deps}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="draws row justify-content-center">
    <div class="col-md-6" id="myChart" style="width: 100%; max-width: 600px; height: 500px"></div>
  </div>
</section>

<section class="table mt-2 w-75 m-auto position" id="doctor-table" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="add">
        <button type="button" class="btn btnsuccess text-white" data-toggle="modal" data-target="#exampleModalCenter">
          Add Doctors
        </button>
      </div>
      <div class="main">
        <form action="" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name="search" id="search" placeholder="Search">

            <div class="input-group-append">
              <button class="btn btnsuccess" type="submit">
                <i class="fa fa-search text-white"></i>
              </button>
            </div>
        </form>
      </div>
    </div>
    <table class="styled-table text-center rounded-2">
      <thead>
        <tr class="text-center">
          <th>#</th>
          <th>Name</th>
          <th>Special</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>6000</td>
          <td>Dom</td>
          <td>Dom</td>
          <td>

            <button class="btn btnsuccess" data-toggle="modal" data-target="#updateModalCenter">
              <i class="fa fa-pen text-white"></i>
            </button>
            <button class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </button>

          </td>
        </tr>
        <tr class="active-row">
          <td>2</td>
          <td>6000</td>
          <td>Dom</td>
          <td>Dom</td>
          <td>
            <button class="btn btnsuccess" data-toggle="modal" data-target="#updateModalCenter">
              <i class="fa fa-pen text-white"></i>
            </button>
            <button class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </button>
          </td>
        </tr>
        <!-- and so on... -->
      </tbody>
    </table>
  </div>
  </div>
</section>


<section class="table mt-2 w-75 m-auto position" id="admin-table" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="main">
        <form action="" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name="search" id="search" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
        </form>
      </div>
    </div>
    <table class="styled-table text-center">
      <thead>
        <tr class="text-center">
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dom</td>
          <td>6000</td>
          <td>Super Admin</td>
        </tr>
        <tr class="active-row">
          <td>Dom</td>
          <td>6000</td>
          <td>Admin</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>

<!-- 
<section class="table mt-2 position" id="dep-table" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="add">
        <button type="button" class="btn btnsuccess text-white" data-toggle="modal" data-target="#adddepCenter">
          Add Clincal
        </button>
      </div>
      <div class="main">
        <form action="" method="POST" >
         <div class="input-group">
             <input type="text" class="form-control" name="search" id="search" placeholder="Search">    
             <div class="input-group-append">
               <button class="btn btnsuccess" type="submit">
                 <i class="fa fa-search"></i>
               </button>
             </div>
           </form>
           </div>
     </div>
     <table class="styled-table text-center">
      <thead>
          <tr class="text-center">
              <th>Name</th>
              <th>Description</th>
              <th>Doctors Name</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Dom</td>
              <td>Clincal</td>
              <td>Ahmed</td>
            
              <td>
                <button class="btn btnsuccess" data-toggle="modal" data-target="#updatedepCenter">
                  <i class="fa fa-pen text-white"></i>
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-trash text-white"></i>
                </button>
            </td>
          </tr>
          <tr class="active-row">
            <td>Dom</td>
            <td>Dental</td>
            <td>Mohamed</td>
            <td>
            <button class="btn btnsuccess" data-toggle="modal" data-target="#updatedepCenter">
              <i class="fa fa-pen text-white"></i>
            </button>
            <button class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </button>
          </td>
          </tr>
      </tbody>
  </table>
    </div>
  </div>
</section>
 -->


<section class="table mt-2 w-75 m-auto position" id="patient-table" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="add">
        <button type="button" class="btn btnsuccess text-white" data-toggle="modal" data-target="#addpatientCenter">
          Add Patient
        </button>
      </div>
      <div class="main">
        <form action="" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name="search" id="search" placeholder="Search">

            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
        </form>
      </div>

    </div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>National ID</th>
          <th>Date Of Birth</th>
          <th>Address</th>
          <th>Date Of Birth</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dom</td>
          <td>6000</td>
          <td>Dom</td>
          <td>Dom</td>
          <td>Dom</td>
          <td>
            <button class="btn btnsuccess" data-toggle="modal" data-target="#updatepatientCenter">
              <i class="fa fa-pen text-white"></i>
            </button>
            <button class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </button>
          </td>

        </tr>
        <tr class="active-row">
          <td>Dom</td>
          <td>6000</td>
          <td>Dom</td>
          <td>Dom</td>
          <td>Dom</td>
          <td>
            <button class="btn btnsuccess" data-toggle="modal" data-target="#updatepatientCenter">
              <i class="fa fa-pen text-white"></i>
            </button>
            <button class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </button>
          </td>

        </tr>
        <!-- and so on... -->
      </tbody>
    </table>
  </div>
  </div>
</section>




<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message From Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body fs-3 text-dark">
        Welcome To Our Dashboard &#128512;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- ADD Doctor -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Doctor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">Special</label>
          <select name="" class="form-control" id="">
            <option value="">SPE2</option>
            <option value="">SPE3</option>
            <option value="">SPE</option>
            <option value="">SPE8</option>
            <option value="">SPE1</option>
          </select>
          <label for="">Phone</label>
          <input type="text" class="form-control">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Doctor -->
<div class="modal fade" id="updateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Doctor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">Special</label>
          <select name="" class="form-control" id="">
            <option value="">SPE2</option>
            <option value="">SPE3</option>
            <option value="">SPE</option>
            <option value="">SPE8</option>
            <option value="">SPE1</option>
          </select>
          <label for="">Phone</label>
          <input type="text" class="form-control">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- ADD Clincal -->
<!-- <div class="modal fade" id="adddepCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Clincal</h5>
        <div class="add">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">Special</label>
          <select name="" class="form-control" id="">
            <option value="">SPE2</option>
            <option value="">SPE3</option>
            <option value="">SPE</option>
            <option value="">SPE8</option>
            <option value="">SPE1</option>
          </select> 
          <label for="">Descrption</label>
          <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Edit Clinc -->
<!-- <div class="modal fade" id="updatedepCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit 
          Clinics</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">Doctors</label>
          <select name="" class="form-control" id="">
            <option value="">Doc1</option>
            <option value="">Doc2</option>
            <option value="">Doc3</option>
            <option value="">Doc4</option>
            <option value="">Doc5</option>
          </select> 
          <label for="">Descrption</label>
          <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- ADD Clincal -->
<!-- <div class="modal fade" id="addpatientCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Patient</h5>
        <div class="add">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">National ID</label>
          <input type="text" class="form-control">
          <label for="">DOB</label>
          <input type="date" class="form-control">
          
          <label for="">Address</label>
          <input type="text" class="form-control">
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Edit Clinc -->
<!-- <div class="modal fade" id="updatepatientCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit 
          Patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">National ID</label>
          <input type="text" class="form-control">
          
          <label for="">DOB</label>
          <input type="date" class="form-control">
          
          
          <label for="">Address</label>
          <input type="text" class="form-control">
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- ADD Ticket -->
<div class="modal fade" id="addticketCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Ticket</h5>
        <div class="add">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">Clincal Name</label>
          <select name="" class="form-control" id="">
            <option value="">Clinacal1</option>
            <option value="">Clinacal2</option>
            <option value="">Clinacal3</option>
            <option value="">Clinacal4</option>

          </select>
          <label for="">Price</label>
          <input type="text" class="form-control">

          <label for="">Date Start</label>
          <input type="date" class="form-control">


          <label for="">Date End</label>
          <input type="date" class="form-control">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Ticket -->
<div class="modal fade" id="updateticketCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit
          Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <form action="">
          <label for="">Name</label>
          <input type="text" class="form-control">
          <label for="">Clincal Name</label>
          <select name="" id="" class="form-control">
            <option value="">Clinacal1</option>
            <option value="">Clinacal2</option>
            <option value="">Clinacal3</option>
            <option value="">Clinacal4</option>

          </select>
          <label for="">Price</label>
          <input type="text" class="form-control">

          <label for="">Date Start</label>
          <input type="date" class="form-control">


          <label for="">Date End</label>
          <input type="date" class="form-control">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btnsuccess text-white">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("dashboard").addEventListener("click", function () {
    document.getElementById("dash-content").style.display = "block";
    document.getElementById("doctor-table").style.display = "none";
    document.getElementById("admin-table").style.display = "none";
    document.getElementById("dep-table").style.display = "none";
    document.getElementById("ticket_table").style.display = "none";
    document.getElementById("patient-table").style.display = "none";

  });
  document.getElementById("patient-click").addEventListener("click", function () {
    document.getElementById("patient-table").style.display = "block";
    document.getElementById("admin-table").style.display = "none";
    document.getElementById("dash-content").style.display = "none";
    document.getElementById("doctor-table").style.display = "none";
    document.getElementById("dep-table").style.display = "none";
    document.getElementById("ticket_table").style.display = "none";

  });

  document.getElementById("admin-click").addEventListener("click", function () {
    document.getElementById("admin-table").style.display = "block";
    document.getElementById("dash-content").style.display = "none";
    document.getElementById("doctor-table").style.display = "none";
    document.getElementById("dep-table").style.display = "none";
    document.getElementById("ticket_table").style.display = "none";
    document.getElementById("patient-table").style.display = "none";

  });

  document.getElementById("doctor-click").addEventListener("click", function () {
    document.getElementById("doctor-table").style.display = "block";
    document.getElementById("dash-content").style.display = "none";
    document.getElementById("admin-table").style.display = "none";
    document.getElementById("dep-table").style.display = "none";
    document.getElementById("ticket_table").style.display = "none";
    document.getElementById("patient-table").style.display = "none";
  });


  document.getElementById("dep-click").addEventListener("click", function () {
    document.getElementById("dep-table").style.display = "block";
    document.getElementById("ticket_table").style.display = "none";
    document.getElementById("patient-table").style.display = "none";
    document.getElementById("admin-table").style.display = "none";
    document.getElementById("dash-content").style.display = "none";
    document.getElementById("doctor-table").style.display = "none";
    document.getElementById("ticket_table").style.display = "none";
  });



  document.getElementById("ticket-click").addEventListener("click", function () {
    document.getElementById("ticket_table").style.display = "block";
    document.getElementById("patient-table").style.display = "none";
    document.getElementById("admin-table").style.display = "none";
    document.getElementById("dash-content").style.display = "none";
    document.getElementById("doctor-table").style.display = "none";
    document.getElementById("dep-table").style.display = "none";
    // document.getElementById("ticket_table").style.display = "none";
  });

</script>
{% endblock %}